.help-modal-closed {
    position: absolute;
    transition: all 0.3s ease-in-out 0s;
    transform: scale(0);
    left: 0%;
    width: 100%;
}

.help-modal-open {
    position: absolute;
    transition: all 0.3s ease-in-out 0s;
    display: flex;
    flex-direction: column;
    transform: scale(100%);
    left: 0%;
    width: 100%;
}

.nav-bar-modal-closed {

}