body {
    background-color: #82001F;
}

.modal-closed {
    transition: all 0.3s ease-in-out 0s;
    display: none;
    visibility: hidden;
}

.modal-open {
    transition: all 0.3s ease-in-out 0s;
    display: flex;
    flex-direction: column;
    height: 100%;
    transform: translateX(0%);
}